{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block content %}

    <h1 class="actor-bold">{{ title }}</h1>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if actor.photo %}
                    <img class="img-fluid rounded-start" src="{{ actor.photo.url }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-header">
                    <h2 class="card-title actor-bold">{{ actor.name }}</h2>
                </div>
                <div class="card-body">
                    {% if user.is_superuser %}
                        <p>
                            <a class="actor-link" href="{{ actor.get_absolute_url_for_update }}">Update</a> |
                            <a class="actor-link" href="{{ actor.get_absolute_url_for_delete }}">Delete</a>
                        </p>
                    {% endif %}
                    <p class="card-text">{{ actor.bio|linebreaks }}</p>
                    <h4 class="card-text"><small class="text-body-secondary"><b class="movie-bold">Movies</b></small></h4>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                        {% get_actors_or_directors_movies model=actor as acts_movies %}
                        {% for movie in acts_movies %}
                        <div class="col">
                            <div class="card text-center h-100">
                                {% if movie.poster %}
                                    <img class="card-img-top" src="{{ movie.poster.url }}">
                                {% endif %}
                                <div class="card-body">
                                    <h2 class="card-title">
                                        <a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <small class="text-body-secondary">Was created at: {{ actor.create_time|date:"d.m.Y" }}</small>
            </div>
        </div>
    </div>

{% endblock %}