{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="card mt-4">
        <div class="card-header">
            <h1 class="movie-bold title">{{ title }}</h1>
        </div>
        <div class="card-body text-center">
            <h4 class="card-subtitle mb-4 text-body-secondary">You can find me here</h4>
            <div class="row">
                <div class="col">
                    <div class="contacts-item mb-3">
                        <img width="50" src="{% static 'mainapp/img/github_logo.png' %}" alt="github">
                        <h3 class="ms-3"><a class="movie-link mt-1" href="https://github.com/Kragline" target="_blank">GitHub</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="contacts-item mb-3">
                        <img width="50" src="{% static 'mainapp/img/linkedin_logo.png' %}" alt="github">
                        <h3 class="ms-3"><a class="movie-link mt-1" href="https://www.linkedin.com/in/arman-arakelyan-56822328b/" target="_blank">LinkedIn</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="contacts-item">
                        <img width="50" src="{% static 'mainapp/img/instagram_logo.png' %}" alt="instagram">
                        <h3 class="ms-3"><a class="movie-link" href="https://instagram.com/calvesgenetics?igshid=MzMyNGUyNmU2YQ==" target="_blank">Instagram</a></h3>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}