{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block content %}

<h1 class="actor-bold">{{ title }}</h1>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if person.photo %}
            <img class="img-fluid rounded-start" src="{{ person.photo.url }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-header">
                <h2 class="card-title actor-bold">{{ person.name }}</h2>
            </div>
            <div class="card-body">
                {% if user.is_superuser %}
                <p>
                    <a class="actor-link" href="{{ person.get_absolute_url_for_update }}">Update</a> |
                    <a class="actor-link" href="{{ person.get_absolute_url_for_delete }}">Delete</a>
                </p>
                {% endif %}
                <p class="card-text">{{ person.bio|linebreaks }}</p>

                <hr>
                <h4 class="card-text">
                    <small class="text-body-secondary">
                        <b class="actor-bold">{{ person.name }}'s movies</b>
                    </small>
                </h4>
                <div id="carouselExample" class="carousel carousel-movie slide">
                    <div class="carousel-inner">
                        {% for movie in person.movies.all %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                                {% endif %}
                                <img src="{{ movie.poster.url }}" class="w-100" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        <a class="carousel-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                    </h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <small class="text-body-secondary">Was created at: {{ person.create_time|date:"d.m.Y" }}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}