{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block content %}

<div class="card mt-4 mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-header text-center">
                <h2 class="card-title movie-bold">{{ movie.title }}</h2>
                <p class="card-text">{{ movie.tagline }}</p>
                
                {% if rated %}
                    {% colored_stars_range number=avg_rating as rating_range %}
                    {% for star in rating_range %}
                        <i style="font-size: 2rem; color: rgb(235, 192, 52);" class="bi bi-star-fill"></i>
                    {% endfor %}

                    <p class="card-text">
                        <b class="movie-bold">{{ avg_rating }}</b> / 10
                    </p>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="all-info-div">
                    <div class="card info-card">
                        <div class="card-body">
                            <h4 class="card-text">
                                <small class="text-body-secondary">
                                    <b class="movie-bold">About</b>
                                </small>
                            </h4><br>
                            
                            <div class="d-flex">
                                <p class="card-text">
                                    <b class="movie-bold">Country</b>
                                </p>
                                <a class="link-body-emphasis link-offset-1 ms-auto" role="button" id="movieCountry" onclick="findMovieByCountry()">{{ movie.country }}</a>
                            </div>
                            <div class="d-flex">
                                <p class="card-text">
                                    <b class="movie-bold">Year</b>
                                </p>
                                <a class="link-body-emphasis link-offset-1 ms-auto" role="button" id="movieYear" onclick="findMovieByYear()">{{ movie.year }}</a>
                            </div>
                            <div class="d-flex">
                                <p class="card-text">
                                    <b class="movie-bold">World premiere</b>
                                </p>
                                <p class="ms-auto">{{ movie.world_premiere }}</p>
                            </div>
                            <div class="text-secondary">
                                <hr class="mt-0">
                            </div>
                            <div class="d-flex">
                                <p class="card-text"><b class="movie-bold">Budget</b></p>
                                <p class="ms-auto">{{ movie.budget|format_money }}</p>
                            </div>
                            <div class="d-flex">    
                                <p class="card-text"><b class="movie-bold">Fees</b></p>
                                <p class="ms-auto">{{ movie.fees|format_money }}</p>
                            </div>
                            <div class="text-secondary">
                                <hr class="mt-0">
                            </div>
                            
                            <div class="d-flex">
                                <p class="card-text">
                                    <b class="movie-bold">Genres</b>
                                </p>
                                <p class="ms-auto">
                                    {% for genre in movie.genres.all %}
                                        <a class="hover-movie-link" href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
                                    {% endfor %}
                                </p>    
                            </div>    
                            
                            <div class="d-flex">
                                <p class="card-text">
                                    <b class="movie-bold">Director</b>
                                </p>
                                <p class="ms-auto">
                                    {% for director in movie.directors.all %}
                                        <a class="hover-movie-link" href="{{ director.get_absolute_url }}">{{ director.name }}</a>
                                    {% endfor %}
                                </p>    
                            </div>

                            <div class="d-flex">
                                <p class="card-text mb-0">
                                    <b class="movie-bold">Was added at</b>
                                </p>
                                <p class="ms-auto mb-0">{{ movie.create_time|date:"d/m/Y" }}</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="card actors-card">
                        <div class="card-body">
                            <h4 class="card-text">
                                <small class="text-body-secondary">
                                    <b class="movie-bold">Actors</b>
                                </small>
                            </h4>
                            <div id="carouselExample" class="carousel carousel-person slide rounded" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for actor in movie_actors %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active" data-bs-interval="3000">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                            <div class="fixed-actor-div rounded" data-bs-interval="3000">
                                                <img src="{{ actor.photo.url }}" class="actor-img rounded" alt="{{ actor.name }}">
                                            </div>
                                            <div class="carousel-caption">
                                                <h5>
                                                    <a class="carousel-link" href="{{ actor.get_absolute_url }}">{{ actor.name }}</a>
                                                </h5>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% if current_user.is_superuser %}
                        <a class="btn btn-outline-primary" role="button" href="{{ movie.get_absolute_url_for_update }}">Update</a>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 movie-bold" id="exampleModalLabel">Delete {{ movie.title }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Are you sure you want to delete this movie?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <form method="post" action="{{ movie.get_absolute_url_for_delete }}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-danger" value="Yes">
                                                Yes, delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <p class="card-text">{{ movie.about|linebreaks }}</p>

                    
                    <h4 class="card-text">
                        <small class="text-body-secondary">
                            <b class="movie-bold">Rate this movie</b>
                        </small>
                    </h4>
                    <form action="{% url 'rate_movie' %}" id="rating_form" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ movie.id }}" name="movie_id">
                        {% colored_stars_range number=10 as rating_range %}
                        {% for number in rating_range %}
                            <div class="form-check form-check-inline mx-0 me-2 px-0">
                                <input class="form-check-input movie-rating" value="{{ number }}" onclick="submitRatingForm()" type="radio" name="rating_radio" id="radio_{{ number }}">
                                <label class="form-check-label movie-rating-label" for="radio_{{ number }}">
                                    <i class="bi bi-star"></i>
                                </label>
                            </div>
                        {% endfor %}
                    </form>
                    <iframe class="mb-3" width="100%" height="400px" src="{{ movie.video }}" frameborder="0" scrolling="no" allowfullscreen></iframe>

                    {% if other_movies %}
                        <h4 class="movie-bold">
                            <b>Watch other {{ movie.saga }} movies</b>
                        </h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for other_movie in other_movies %}
                                    <tr>
                                        <td>
                                            {% if movie.pk == other_movie.pk %}
                                                <a class="blue-movie-link" href="{{ other_movie.get_absolute_url }}">{{ other_movie.title }}</a>
                                            {% else %}
                                                <a class="hover-movie-link" href="{{ other_movie.get_absolute_url }}">{{ other_movie.title }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ other_movie.year }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    <h4 class="movie-bold">
                        <b>You also can try these</b>
                    </h4>
                    <div class="card-group media-scroller mb-3">
                        {% for rec_movie in recomendations %}
                            <div class="card text-center media-element">
                                <div class="fixed-div-recomendation">
                                    <a href="{{ rec_movie.get_absolute_url }}">
                                        <img class="card-img-top recomendation-img" src="{{ rec_movie.poster.url }}" alt="{{ rec_movie.title }}">
                                    </a>
                                </div>    
                                <div class="card-body">
                                    <div class="centered-content">
                                        <h6 class="card-title">
                                            <a class="movie-link" href="{{ rec_movie.get_absolute_url }}">{{ rec_movie.title }}</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    {% include 'mainapp/includes/comment_section.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}