{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}
{% load static %}

{% block wallpaper %}
    <img src="{% static 'mainapp/img/main_page_wallpaper.jpg' %}" class="img-fluid home-wallpaper">
{% endblock %}

{% block content %}
    <h1 class="movie-bold title">{{ title }}</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        {% for movie in movies %}
            <div class="col">
                <div class="card text-center h-100">
                    <div class="fixed-div">
                        {% if movie.poster %}
                            <img class="card-img-top" src="{{ movie.poster.url }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="centered-content">
                            <h4 class="card-title"><a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h4>
                            <div class="not-centered">
                                {% colored_stars_range number=movie.rating as rating_range %}
                                {% for star in rating_range %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(235, 192, 52)" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                {% endfor %}
                            </div>
                            <p class="card-text"><b class="movie-bold">{{ movie.rating }}</b> / 10</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'mainapp/includes/pagination.html' %}

{% endblock %}