{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}
{% load static %}

{% block wallpaper %}
    <img src="{% static 'mainapp/img/main_page_wallpaper.jpg' %}" class="img-fluid home-wallpaper">
{% endblock %}

{% block content %}
    <h1 class="movie-bold title">{{ page_title }}</h1>

    <div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
        {% for movie in movies %}
            <div class="col">
                <div class="card movies-list-card h-100">
                    <div class="fixed-div">
                        <a href="{{ movie.get_absolute_url }}">
                            <img class="card-img-top movie-poster" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                        </a>
                    </div>
                    <div class="card-body movies-list-info">
                        <div class="main-info">
                            <h4 class="card-title"><a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h4>
                        </div>
                        <div class="additional-info">
                            <h6 class="card-subtitle mt-1 text-body-secondary">{{ movie.country }}, {{ movie.year }}</h6>
                            <h6 class="card-subtitle mt-1 text-body-secondary">{{ movie.genres.first }}</h6>
                        </div>    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'mainapp/includes/pagination.html' %}

{% endblock %}