body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-dark-shadow {
    box-shadow: 0 15px 15px rgba(0,0,0, 0.15);
}

.auth-item {
    text-align: right;
}

.username-in-nav {
    margin: auto 0 auto 0;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.main-div {
    display: flex;
}

.column {
    flex: 1;
}

.search {
    flex: 0 0 18%;
    margin: 30px 0 0 20px;
}

.content {
    flex: 0 0 60%;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
}

.latest-premieres {
    flex: 0 0 18%;
    margin: 30px 20px 0 0;
}

.latest-premieres-heading {
    text-align: right;
}

.filters-container {
    display: flex;
}

.filter-item {
    flex-grow: 1;
    margin-bottom: 10px;
}

.second-item,
.third-item {
    margin-left: 10px;
}

.pagination {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-link {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.hover-movie-link {
    text-decoration: none;
    color: black;
}

.hover-movie-link-dark {
    text-decoration: none;
    color: white;
}

.hover-movie-link:hover {
    cursor: pointer;
    color: rgb(41, 112, 207);
}

.blue-movie-link {
    text-decoration: none;
    color: rgb(41, 112, 207);
}

.blue-movie-link:hover {
    color: rgb(23, 116, 238);
}

.fixed-div {
    width: 100%;
    height: 80%;
    max-height: 530px;
    overflow: hidden;
}

.fixed-div-small {
    width: 100%;
    height: 75%;
    max-height: 200px;
    overflow: hidden;
}

.fixed-actor-div {
    width: 100%;
    height: 100%;
    max-height: 350px;
    overflow: hidden;
}

.actor-img {
    width: 100%;
}

.movie-link {
    text-decoration: none;
    color: rgb(45, 107, 189);
}

.movie-link-dark {
    text-decoration: none;
    color: rgb(23, 116, 238);
}

.movie-bold {
    color: rgb(38, 86, 150);
}

.movie-bold-dark {
    color: rgb(23, 116, 238);
}

.movies-list-card {
    cursor: pointer;
}

.movies-list-card:hover {
    transform: scale(1.01);
    transition: 0.5s;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.not-centered {
    width: 100%;
}

.all-info-div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.info-card {
    width: 50%;
}

.actors-card {
    width: 50%;
    margin-left: 10px;
}

/* scrolling div */
.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.media-element > img {
    inline-size: 100%;
    object-fit: cover;

}
/* /// */

.header-profile-info {
    display: flex;
}

.comment-profile-info {
    display: inline-block;
}

.contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    text-align: justify;
}

.comment-profile-div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-profile-pic {
    width: 100%;
    height: 100%;
}

.username-in-comment {
    margin: 10px 0 0 10px;
}

.reg-login-div {
    width: 70%;
    margin: auto;
}

.like-form {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

footer {
    height: 100%;
    background-color: #212529;
    padding: 0 20px 20px 20px;
}

.footer-dark-shadow {
    box-shadow: 0 -10px 10px rgba(0,0,0, 0.15);
}

.footer-hr {
    color: gray;
    margin: 0 auto 20px auto;
    width: 600px;
}

.footer-text {
    color: gray;
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 1400px) {
    .main-div {
        display: block;
    }

    .column {
        display: block;
    }

    .search {
        width: 70%;
        margin: 15px auto 0 auto;
    }

    .latest-premieres {
        width: 70%;
        margin: 15px auto 0 auto;
    }

    .latest-premieres-heading {
        text-align: left;
    }

    .content {
        width: 70%;
        padding: 0;
    }

    .fixed-div {
        max-height: 80%;
    }

    .fixed-actor-div {
        max-height: 500px;
    }

    .all-info-div {
        display: block;
    }

    .info-card {
        width: 100%;
    }

    .actors-card {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {

    .search,
    .latest-premieres,
    .content {
        width: 80%;
    }

    .latest-premieres-heading,
    .recently-added-heading,
    .search-heading {
        text-align: center;
    }
}