body {
    margin-top: 55px;
}

.content {
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.search {
    float: left;
    margin: 15px 0 0 20px;
    width: 18%;
}

.pagination {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-link {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.hover-movie-link {
    text-decoration: none;
    color: black;
}

.hover-movie-link:hover {
    color: rgb(39, 151, 39);
}

.actor-link {
    text-decoration: none;
    color: rgb(45, 107, 189);
}

.actor-bold {
    color: rgb(38, 86, 150);
}

.movie-link {
    text-decoration: none;
    color: rgb(39, 151, 39);
}

.movie-bold {
    color: rgb(32, 119, 32);
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.not-centered {
    width: 100%;
}

.all-info-div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.info-card {
    width: 50%;
}

.actors-card {
    width: 50%;
    margin-left: 10px;
}

.comment-profile-info {
    display: flex;
}

.comment-profile-div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-profile-pic {
    width: 100%;
    height: 100%;
}

.username-in-comment {
    margin: 10px 0 0 10px;
}

.reg-login-div {
    width: 70%;
    margin: auto;
}

.like-form {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .search {
        float: none;
        position: static;
        width: 90%;
        background-color: white;
        margin: 15px auto 0 auto;
    }

    .content {
        float: none;
        position: static;
        width: 90%;
        padding: 0;
    }

    .all-info-div {
        display: block;
    }

    .info-card {
        width: 100%;
    }

    .actors-card {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
}
