.content {
    position: absolute;
    left: 20%;
    top: 70%;
    border-radius: 10px;
    width: 60%;
    background-color: white;
    margin: 0 auto;
    padding: 15px;
    padding-top: 10px;
}

.search {
    float: left;
    margin: 15px 0 0 20px;
    width: 18%;
}

.pagination {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.actor-link {
    text-decoration: none;
    color: rgb(45, 107, 189);
}

.actor-bold {
    color: rgb(38, 86, 150);
}

.movie-link {
    text-decoration: none;
    color: rgb(39, 151, 39);
}

.movie-bold {
    color: rgb(32, 119, 32);
}

.director-link {
    text-decoration: none;
    color: rgb(67, 204, 222);
}

.director-bold {
    color: rgb(47, 165, 181);
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.not-centered {
    width: 100%;
}

.username-in-comment {
    margin-bottom: 0px;
}

.reg-login-div {
    width: 70%;
    margin: auto;
}

@media (max-width: 1200px) {
    .search {
        float: none;
        position: static;
        width: 90%;
        background-color: white;
        margin: 15px auto 0 auto;
    }

    .content {
        float: none;
        position: static;
        width: 90%;
        padding: 0;
    }
}
