{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header-nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'mainapp/img/logo-gray.png' %}" width="150">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if view.get_genres %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                             {% for genre in view.get_genres %}
                                {% if genre.movies_count > 0 %}
                                    <li><a class="dropdown-item" href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></li>
                                {% endif %}
                             {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'troubleshoot' %}">Troubleshoot</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav auth-item">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <div class="comment-profile-info">
                                <div class="comment-profile-div">
                                    <img class="comment-profile-pic" src="{{ request.user.custom_profile.profile_pic.url }}">
                                </div>
                                <button class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'profile_page' request.user.username %}">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
