<div class="last-activity">
    <h3 class="movie-bold">Last activity</h3>
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
        {% for movie in view.get_last_movies %}
            <div class="col">
                <div class="card text-center h-100">
                    {% if movie.poster %}
                        <img class="card-img-top" src="{{ movie.poster.url }}">
                    {% endif %}
                    <div class="card-body">
                        <div class="centered-content">
                            <h5 class="card-title">
                                <a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>