<div class="column latest-premieres">
    <h3 class="movie-bold latest-premieres-heading mb-3">Watch latest premieres</h3>
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
        {% for movie in view.latest_premieres %}
            <div class="col">
                <div class="card movies-list-card text-center h-100">
                    <div class="fixed-div-small">
                        <a href="{{ movie.get_absolute_url }}">
                            <img class="card-img-top movie-poster-small" src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="centered-content">
                            <h6 class="card-title">
                                <a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>