<div class="column search">
        <h3 class="search-heading movie-bold">Search for movies</h3>
        <form action="{% url 'filter' %}" id="movieSearchForm" method="GET">
            <div class="text-secondary">
                <hr>
            </div>
            <div class="hstack gap-3" role="button" data-bs-toggle="collapse" data-bs-target="#collapseYears" aria-expanded="false" aria-controls="collapseExample">
                <h5 class="movie-bold">
                    Choose any year
                </h5>
                <i class="ms-auto movie-bold ms-1 my-auto bi bi-caret-down-fill"></i>
            </div>
            <div class="collapse mb-2" id="collapseYears">
                <div class="card card-body">
                    {% for index, year_dict in view.ALL_YEARS %}
                        <div class="form-check">
                            <input class="form-check-input movie-year-checkbox" id="year_{{ index }}" type="checkbox" value="{{ year_dict.year }}" name="year">
                            <label class="form-check-label" for="year_{{ index }}">
                                {{ year_dict.year }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="hstack gap-3" role="button" data-bs-toggle="collapse" data-bs-target="#collapseGenres" aria-expanded="false" aria-controls="collapseGenres">
                <h5 class="movie-bold">
                    Preferable genre
                </h5>
                <i class="ms-auto movie-bold ms-1 my-auto bi bi-caret-down-fill"></i>
            </div>  
            <div class="collapse mb-2" id="collapseGenres">
                <div class="card card-body">
                    {% for index, genre in view.NOT_EMPTY_GENRES %}
                        <div class="form-check">
                            <input class="form-check-input" id="genre_{{ index }}" type="checkbox" value="{{ genre.pk }}" name="genre">
                            <label class="form-check-label" for="genre_{{ index }}">
                                {{ genre.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="hstack gap-3" role="button" data-bs-toggle="collapse" data-bs-target="#collapseCountries" aria-expanded="false" aria-controls="collapseCountries">
                <h5 class="movie-bold">
                    Filter by countries
                </h5>
                <i class="ms-auto movie-bold ms-1 my-auto bi bi-caret-down-fill"></i>
            </div>  
            <div class="collapse mb-2" id="collapseCountries">
                <div class="card card-body">
                    {% for index, country in view.ALL_COUNTRIES %}
                        <div class="form-check">
                            <input class="form-check-input movie-country-checkbox" id="country_{{ index }}" type="checkbox" value="{{ country.country }}" name="country">
                            <label class="form-check-label" for="country_{{ index }}">
                                {{ country.country }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="my-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="movie-search">
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-secondary filter-item" type="reset">Reset</button>
                <button class="btn btn-outline-primary filter-item second-item" type="submit">Find movie</button>
            </div>
        </form>

        <h4 class="recently-added-heading movie-bold">
            Recently added
        </h4>
        <table class="table">
            <tbody>
                {% for movie in view.RECENTLY_ADDED %}
                    <tr>
                        <td>
                            <a class="hover-movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>