<div class="column search">
        <h3 class="search-heading movie-bold">Search for movies</h3>
        <form action="{% url 'filter' %}" id="movieSearchForm" method="GET">
            <div class="mb-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="movie-search">
            </div>
                <div class="filters-container">
                    <button class="btn btn-outline-primary filter-item first-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Years
                    </button>
                    <button class="btn btn-outline-primary filter-item second-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        Genres
                    </button>
                    <button class="btn btn-outline-primary filter-item third-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        Countries
                    </button>
                </div>
                <div class="collapse mb-2" id="collapseExample">
                    <div class="card card-body">
                        {% for year_dict in view.get_years %}
                            <div class="form-check">
                                <input class="form-check-input movie-year-checkbox" type="checkbox" value="{{ year_dict.year }}" name="year">
                                <label class="form-check-label">
                                    {{ year_dict.year }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="collapse mb-2" id="collapseExample2">
                    <div class="card card-body">
                        {% for genre in view.get_genres %}
                            {% if genre.movies_count > 0 %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ genre.pk }}" name="genre">
                                    <label class="form-check-label">
                                        {{ genre.name }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="collapse mb-2" id="collapseExample3">
                    <div class="card card-body">
                        {% for country in view.get_countries %}
                            <div class="form-check">
                                <input class="form-check-input movie-country-checkbox" type="checkbox" value="{{ country.country }}" name="country">
                                <label class="form-check-label">
                                    {{ country.country }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            <div class="filters-container">
                <button class="btn btn-outline-secondary filter-item" type="reset">Reset</button>
                <button class="btn btn-outline-primary filter-item second-item" type="submit">Find movie</button>
            </div>
        </form>

        <h4 class="recently-added-heading movie-bold">
            Recently added
        </h4>
        <table class="table">
            <tbody>
                {% for movie in view.get_last_movies %}
                    <tr>
                        <td>
                            <a class="hover-movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>